* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3c969;
    height: 100vh;

}


/* ====HEADER CONTENT==== */
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: inherit;
}

.app-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: .25;
}

.app-title small {
    margin-bottom: 4%;
}

table {
    display: flex;
    flex-grow: 1;
    border-spacing: 10px;
    border-collapse: separate;
    border: 1px solid black;
}

table td + td { 
    text-align: center;
    border-left:2px solid black; 
}

td:last-child {
    border-right:2px solid black; 

}

tr {
    margin: 0 5%;
}


.help .feature-importance-container {
    margin-top: 10%;
}
.feature-importance-container ul {
    list-style: square;
}
.feature-importance-container ul li {
    margin: 1.5% 0 0 5%;
}
/* ====END OF HEADER CONTENT=== */



/* ====FORM CONTENT==== */
form {
    /* padding: 2.5%; */
    display: flex;
    border-color: lightblue;
    flex-direction: column;
    background-color: #6f9283;
    justify-content: center;
    align-items: center;
    flex-grow: .75;
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1% 0 0;
    width: 60%;


}

.form-row label {
    font-size: 16px;
}



.form-row input,
.form-row select
{
    padding: 1.5%;
    margin: .25%;
}


.form-row input:focus,
.form-row select:focus
{
    outline: none;
    border: none;
}

.selection-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


ul {
    list-style: none;
}


/* ====END OF FORM CONTENT==== */


/* =====PREDICTIONS===== */
.prediction-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 22px;
    height: 100%;
}

#go-back {
    position: absolute;
    top: 5%;
    left: 5%;  
    height: fit-content;
    width: fit-content;
    text-align: center;
    transition: .5s background-color;
}

#go-back a {
    display: inline-block;
    margin-top: 2.5%;
    padding: 5%;
}

#go-back:hover {
    background-color: lightblue;
    border: black dashed 1px;
    cursor: pointer;
    transition: .5s background-color;
}

.container__title {
    font-size: larger;
}
/* =====END OF PREDICTIONS===== */


/* ====MEDIA QUERIES==== */
@media screen and (max-width: 912px){
    .flex-wrapper {
        flex-direction: column;
    }    

    .form-row {
        margin: 0;
    }

    form .form-row:nth-child(2) {
        margin-top: 5%;
    }
    form .form-row:last-child {
        margin-bottom: 5%;

    }

    .app-title h1,
    .prediction-container div h1 {
        font-size: 28px;
    }

    .app-title small {
        margin-top: 2%;
        height: 1%;
    }

    .app-title small,
    .prediction-container div small {
        font-size: 16px;
    }

    .app-title .help th,
    .app-title .help td,
    .prediction-container div p {
        font-size: 16px;
    }
    
    .feature-importance-container h3 {
        font-size: 16px;
    }
    .feature-importance-container p,
    .feature-importance-container ul {
        font-size: 14px;
    }
    .help table { 
        border-spacing: 5px;
    }


}

@media screen and (max-width: 550px){

    #go-back a {
        font-size: 12px;
    }
}


/* ====END OF MEDIA QUERIES==== */
